/* - global - */
.fullwidth{
  width: 100%;
}
.border-radius{
  border-radius: 15px;
}

/* form style - login*/

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D5DFE5;
}

.login-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow:  rgba(0, 0, 0, 0.3) 0px 19px 38px,  #4c956c 0px 15px 12px;
  padding: 2rem;
  width: 30rem;
}


.login-heading {
  text-align: center;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.login-form-group label {
  margin-bottom: 0.5rem;
}

.login-form-group input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-button {
  padding: 0.5rem 1rem;
  background-color: #2C6E49;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-button:hover {
  background-color: #0062cc;
}

.link:link{
  color: #4c956c;
  text-decoration: none;
}

.link:hover{
  color:#163724;
}

.link:visited{
  color:#4c956c;
}

/* - counter style -*/

.counter-box{
  height: 580px;
  width: 500px;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 10px 5px 15px black;
  margin: auto;
  background-color: #d5dfe5;
  justify-content: center;
  padding: 5px;
  text-align: center;
}

.counter-container{
  margin: auto;
  text-align: center;
  padding: 25px;
}

.calorie-counter-page-container{
  background-color: #4c856c;
  height: 1080px;
  padding-top: 100px;
  padding-left: 25px;
}

/* - calorie list - */

.calorie-list-container{
  background-color: #d5dfe5;
  border: 2px solid black;
}


